body, body > #root > div {
  height: 100vh;
  margin: 0;
  padding: 0;
}
.parallax{
  background-image: url("stark-background.png");
  height: 92%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.parallax2{
  background-image: url("StarkTriangle.png");
  height: 92%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parallax3{
  background-image: url("StarkTriangle2.png");
  height: 92%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#navbar{
  overflow: hidden;
  background-color: #333;
}

#navbar a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  color: white;
}

.content{
  padding: 30px;
  height: 60vh
}

#navbar .sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .sticky + .content{
  padding-top: 60px;
}

p.heading1{
  font-family: 'Catamaran', sans-serif;
  padding-top: 4%;
  font-size: 300%;
  line-height: 110%;
}

p.paragraph{
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
}

.topheader{
  height:30%;
  width:50%;
}

p.paragraph2{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 90%;
  padding: 0;
  margin: 0;
}

ul.paragraph{
  font-family: 'Montserrat', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 110%;
}

ul {
  list-style-type: none;
}

footer{
  font-family: "Montserrat", sans-serif;
  padding-left: 4%;
  font-size: 80%;
}
